/*
##########################
####### UTILIDADES #######
##########################
*/
.bw-glyphicon-large{
	font-size: 18px;
}
/*
##########################
###### COMPONENTES #######
##########################
*/

/* FIELD ACTION */
.bw-field-action{
	display: flex;
}
.bw-field-action-icon{
	margin: 6px 0 0 5px;
}